/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 3.5rem;
}

.bg-hero {
    background: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0)), url('../img/bg-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 464px;
}

.nav-link.active {
    font-weight: 600;
}

.card-custom {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 133.33%;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    transition: 0.4s;
}

.card-custom:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-img-custom {
    height: 200px;
}

.modal-img {
    height: 200px;
}

.carousel-card {
    padding: 1rem 4rem;
}

.carousel-icon-custom {
    height: 40px;
    width: 40px;
    font-size: 28px;
    border-radius: 0.5rem;
}

.embed-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.embed-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-clamp {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
}

@media (max-width: 991px) {
    .bg-hero {
        background: linear-gradient(to bottom, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0)), url('../img/bg-hero.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .card-text-custom {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .card-img-custom {
        height: 150px;
    }

    .modal-img {
        height: 300px;
    }
}